# SPDX-FileCopyrightText: 2025 George Florea Bănuș <georgefb899@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Hana
Name[ca]=Hana
Name[ca@valencia]=Hana
Name[es]=Hana
Name[eu]=Hana
Name[he]=Hana
Name[it]=Hana
Name[ka]=Hana
Name[nl]=Hana
Name[sl]=Hana
Name[sv]=Hana
Name[tr]=Hana
Name[uk]=Hana
Name[x-test]=xxHanaxx
Name[zh_CN]=Hana 视频缩略图生成器
GenericName=Video thumbnail generator
GenericName[ca]=Generador de miniatures de vídeo
GenericName[ca@valencia]=Generador de miniatures de vídeo
GenericName[es]=Generador de miniaturas de vídeo
GenericName[eu]=Bideoen koadro-txiki sortzailea
GenericName[he]=יצרן תמונות ממוזערות לסרטונים
GenericName[it]=Generatore di miniature video
GenericName[ka]=ვიდეო მინიატურების გენერატორი
GenericName[nl]=Generator van videominiatuur
GenericName[sl]=Generator sličic videoposnetkov
GenericName[sv]=Generator av videominiatyrbilder
GenericName[tr]=Video küçük görseli üreteci
GenericName[uk]=Програма для створення мініатюр відеоданих
GenericName[x-test]=xxVideo thumbnail generatorxx
GenericName[zh_CN]=视频缩略图生成器
Exec=hana
Icon=hana
Type=Application
Categories=Qt;KDE;AudioVideo
Terminal=false
X-DBUS-ServiceName=org.kde.hana
