# SPDX-FileCopyrightText: 2025 George Florea Bănuș <georgefb899@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Hana
Name[ar]=هانا
Name[ca]=Hana
Name[ca@valencia]=Hana
Name[de]=Hana
Name[es]=Hana
Name[eu]=Hana
Name[fr]=Hana
Name[he]=Hana
Name[it]=Hana
Name[ka]=Hana
Name[ko]=Hana
Name[nl]=Hana
Name[pt_BR]=Hana
Name[sl]=Hana
Name[sv]=Hana
Name[tr]=Hana
Name[uk]=Hana
Name[zh_CN]=Hana 视频缩略图生成器
Name[zh_TW]=Hana
GenericName=Video thumbnail generator
GenericName[ar]=مولد مصغرات الفيديو
GenericName[ca]=Generador de miniatures de vídeo
GenericName[ca@valencia]=Generador de miniatures de vídeo
GenericName[de]=Ersteller für Video-Vorschaubilder
GenericName[es]=Generador de miniaturas de vídeo
GenericName[eu]=Bideoen koadro-txiki sortzailea
GenericName[fr]=Générateur de vignettes vidéo
GenericName[he]=יצרן תמונות ממוזערות לסרטונים
GenericName[it]=Generatore di miniature video
GenericName[ka]=ვიდეო მინიატურების გენერატორი
GenericName[ko]=동영상 섬네일 생성기
GenericName[nl]=Generator van videominiatuur
GenericName[pt_BR]=Gerador de miniaturas de vídeo
GenericName[sl]=Generator sličic videoposnetkov
GenericName[sv]=Generator av videominiatyrbilder
GenericName[tr]=Video küçük görseli üreteci
GenericName[uk]=Програма для створення мініатюр відеоданих
GenericName[zh_CN]=视频缩略图生成器
GenericName[zh_TW]=影片縮圖產生器
Exec=hana
Icon=hana
Type=Application
Categories=Qt;KDE;AudioVideo
Terminal=false
X-DBUS-ServiceName=org.kde.hana
